body {
    background-color: ghostwhite;
}
h1 {
    color: black;
    text-align: center;
    font-size: 70px;

    font-family: 'Shadows Into Light Two', cursive;
}
#profile {
    display: flex;
    justify-content: center;
}
#profile img {
    border-radius: 50%;
}
div {
    display: flex;
    justify-content: center;
}
div p {
    color: black;
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    margin: 50px;

}
div p:hover {
    background-color: black;
    color: white;
    box-shadow: 17px 13px 24px 0px rgba(30, 30, 60, 0.38);
}

.connect {
    display: flex;
    justify-content: center;
}
.connect div {
    padding: 10px;
}

.img-responsive {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}



.connect #instagram #twitter #linkedin #github {
    
}
